<div class="container" style="padding-top: 20px;">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Empresa</th>
      <th scope="col">Dirección</th>
      <th scope="col">Calificación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>empresa de Mark</td>
      <td>calle 54 #4-90</td>
      <td>4.9 ★</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>empresa de Mark</td>
      <td>calle 54 #4-90</td>
      <td>3.8 ★</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>empresa de Mark</td>
      <td>calle 54 #4-90</td>
      <td>4.0 ★</td>
    </tr>
  </tbody>
</table>
</div>
{{> section_dos }}
{{> section_tres }}